#header {
    height: 300px;
    width: 100%;
    background: rgb(252,182,109);
background: linear-gradient(351deg, rgba(252,182,109,1) 17%, rgba(31,27,87,1) 100%);
}

#header-section > h1,
#header-section p {
color: white;
text-align: center;
}

#anuncio {
    background-color: #FCB66D;
}

.card1:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);;
    
}